.lsDualRing {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lsDualRing:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--choose02);
  border-color: var(--choose02) transparent var(--choose02) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}