.title {
  letter-spacing: -0.75px;
  color: var(--choose02);
}

.headerTotalInvoices {
  display: block;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--choose03);
}

.btnNew {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  font-family: inherit;
  /*appearance: none;*/
  border-radius: 24px;
  padding: 6px 15px 6px 6px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  /*cursor: pointer;*/
  border: none;
  text-decoration: none;
}

.btnNewText {
  display: block;
  color: inherit;
  font: inherit;
}

.iconBtnNew,
.iconWrapper {
  display: block;
}

.iconWrapper {
  background-color: white;
}

.headerContainer,
.header {
  display: flex;
  flex-flow: row wrap;
}

.header {
  align-items: center;
  justify-content: space-between;
  margin: 0 0 32px 0;
}

.headerContainer {
  align-items: center;
  gap: 18px;
}

.listInvoices {
  list-style: none;
}

.linkCardInvoice {
  text-decoration: none;
  display: block;
  background-color: var(--choose06);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 25px 24px 22px 24px;
}

.linkCardInvoice:is(:hover, :focus) {
  border-color: var(--color01);
}

.item:not(:last-child) {
  margin: 0 0 16px 0;
}

.idInvoice,
.statusPago {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.idInvoice {
  color: var(--choose02);
}

.hashId {
  color: var(--color07);
}

.nameClient,
.vencimento {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
}

.nameClient {
  color: var(--choose07);
}

.containerA {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px 0;
}

.vencimento {
  color: var(--choose03);
  margin: 0 0 9px 0;
}

.total {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: var(--choose02);
}

.statusPago,
.statusPendente,
.statusRascunho {
  border-radius: 6px;
  padding: 14px 0 11px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  max-width: 104px;
  flex: 0 0 104px;
  justify-content: center;
}

.statusPago {
  background-color: var(--color16);
  color: var(--color15);
}

.statusPendente {
  background-color: var(--color17);
  color: var(--color18);
}

.statusRascunho {
  background-color: var(--choose08);
  color: var(--choose09);
}

.ballStatus,
.ballStatusPago,
.ballStatusPendente,
.ballStatusRascunho {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.ballStatusPago {
  background-color: var(--color15);
}

.ballStatusPendente {
  background-color: var(--color18);
}

.ballStatusRascunho {
  background-color: var(--choose09);
}

.containerB {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.containerNoContent {
  max-width: 240px;
  margin: 70px auto 0 auto;
}

.imageNoContent {
  display: block;
  max-width: 100%;
  margin: 0 0 42px 0;
}

.containerNoContentTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.75px;
  color: var(--choose02);
  text-align: center;
  margin: 0 0 23px 0;
}

.containerNoContentDescription {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--choose03);
  text-align: center;
}

@media screen and (min-width: 690px) {
  .iconLinkInvoice {
    display: block;
  }

  .title {
    letter-spacing: -1.125px;
  }

  .headerContainer {
    gap: 40px;
  }

  .btnNew {
    padding: 8px 17px 8px 8px;
    gap: 16px;
  }

  .header {
    margin: 0 0 55px 0;
  }

  .vencimento,
  .idInvoice,
  .nameClient,
  .total,
  .status {
    display: inline-block;
    vertical-align: middle;
  }

  .idInvoice {
    margin: 0 28px 0 0;
  }

  .vencimento {
    margin: 0 51px 0 0;
  }

  .nameClient {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 82px 0 0;
  }

  .total {
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 40px 0 0;
  }

  .status {
    margin: 0 20px 0 0;
  }

  .iconLinkInvoice {
    display: inline-block;
  }

  .linkCardInvoice {
    padding: 16px 24px 16px 24px;
  }

  .listInvoices {
    max-width: 750px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .title {
    letter-spacing: -1.125px;
    font-feature-settings: 'clig' off, 'liga' off;
  }

  .header {
    margin: 0 0 64px 0;
  }
}