:root {
  --color01: #7c5dfa;
  --color02: #9277ff;
  --color03: #1e2139;
  --color04: #252945;
  --color05: #dfe3fa;
  --color06: #888eb0;
  --color07: #7e88c3;
  --color08: #0c0e16;
  --color09: #ec5757;
  --color10: #ff9797;
  --light-bg: #f8f8fb;
  --color11: #141625;
  --color12: #373B53;
  --color13: #494E6E;
  --color14: #858BB2;
  --color15: #33D69F;
  --color16: rgba(51, 214, 159, 0.05);
  --color17: rgba(255, 143, 0, 0.05);
  --color18: #FF8F00;
  --color19: rgba(55, 59, 83, 0.05);
  --color20: rgba(223, 227, 250, 0.05);
  --color21: rgba(72, 84, 159, 0.10);
  --color22: #F9FAFE;
  --color23: rgba(0, 0, 0, 0.049);
  --color24: #777F98;
  /*variaveis css de alternação de cores para os elementos*/
  --choose01: var(--color12);
  --choose02: var(--color08);
  --choose03: var(--color06);
  --choose04: white;
  --color-shadow: rgba(72, 84, 159, 0.25);
  --choose05: var(--color05);
  --choose06: white;
  --choose07: var(--color14);
  --choose08: var(--color19);
  --choose09: var(--color12);
  --choose10: var(--color07);
  --choose11: var(--color14);
  --choose12: var(--color07);
  --choose13: var(--color22);
  --choose14: var(--color12);
  --choose15: var(--color05);
  --choose16: white;
  --choose17: var(--color05);
  --choose18: var(--color02);
  --choose19: var(--color08);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all ease-in 0.35s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/***HEADINGS***/

.headingL {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
}

/***BUTTONS***/

.btn1Default,
.btn2 {
  background-color: var(--color01);
  color: white;
}

.btn1Default:is(:hover, :focus),
.btn2:is(:hover, :focus) {
  background-color: var(--color02);
}

.btn3 {
  background-color: var(--choose13);
  color: var(--choose12);
}

.btn3:is(:hover, :focus) {
  background-color: var(--choose15);
  color: var(--color07);
}

.btn4 {
  background-color: var(--color12);
  color: var(--choose03);
}

.btn4:is(:hover, :focus) {
  background-color: var(--choose19);
}

.btn5 {
  background-color: var(--color09);
  color: white;
}

.btn5:is(:hover, :focus) {
  background-color: var(--color10);
}

/****************************************/
.has-dialog {
  overflow: hidden;
}

body {
  background-color: var(--light-bg);
}

[data-theme="light"] {
  background-color: var(--light-bg);
}

[data-theme="dark"] {
  background-color: var(--color11);
  --choose01: var(--color03);
  --choose02: white;
  --choose03: var(--color05);
  --choose04: var(--color04);
  --color-shadow: rgba(0, 0, 0, 0.25);
  --choose05: var(--color03);
  --choose06: var(--color03);
  --choose07: white;
  --choose08: var(--color20);
  --choose09: var(--color05);
  --choose10: var(--color06);
  --choose11: var(--color05);
  --choose12: var(--color05);
  --choose13: var(--color04);
  --choose14: var(--color08);
  --choose15: white;
  --choose16: var(--color11);
  --choose17: var(--color04);
  --choose18: var(--color04);
  --choose19: var(--color03);
}

@media screen and (min-width: 690px) {
  .headingL {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}