:root {
  --color01: #7c5dfa;
  --color02: #9277ff;
  --color03: #1e2139;
  --color04: #252945;
  --color05: #dfe3fa;
  --color06: #888eb0;
  --color07: #7e88c3;
  --color08: #0c0e16;
  --color09: #ec5757;
  --color10: #ff9797;
  --light-bg: #f8f8fb;
  --color11: #141625;
  --color12: #373B53;
  --color13: #494E6E;
  --color14: #858BB2;
  --color15: #33D69F;
  --color16: rgba(51, 214, 159, 0.05);
  --color17: rgba(255, 143, 0, 0.05);
  --color18: #FF8F00;
  --color19: rgba(55, 59, 83, 0.05);
  --color20: rgba(223, 227, 250, 0.05);
  /*variaveis css de alternação de cores para os elementos*/
  --choose01: var(--color12);
  --choose02: var(--color08);
  --choose03: var(--color06);
  --choose04: white;
  --color-shadow: rgba(72, 84, 159, 0.25);
  --choose05: var(--color05);
  --choose06: white;
  --choose07: var(--color14);
  --choose08: var(--color19);
  --choose09: var(--color12);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all ease-in 0.35s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/***HEADINGS***/

.headingL {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
}

/***BUTTONS***/

.btn1Default {
  background-color: var(--color01);
  color: white;
}

.btn1Default:is(:hover, :focus) {
  background-color: var(--color02);
}

/****************************************/

body {
  background-color: var(--light-bg);
}

[data-theme="light"] {
  background-color: var(--light-bg);
}

[data-theme="dark"] {
  background-color: var(--color11);
  --choose01: var(--color03);
  --choose02: white;
  --choose03: var(--color05);
  --choose04: var(--color04);
  --color-shadow: rgba(0, 0, 0, 0.25);
  --choose05: var(--color03);
  --choose06: var(--color03);
  --choose07: white;
  --choose08: var(--color20);
  --choose09: var(--color05);
}