.modalCreate {
  padding: 33px 0 0 0;
}

.modalCreateBtnVoltar {
  box-sizing: border-box;
  font-family: inherit;
  appearance: none;
  border: none;
  background-color: transparent;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 23px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--choose02);
  margin: 0 0 26px 0;
  cursor: pointer;
}

.modalCreateBtnVoltar:is(:hover, :focus) {
  color: var(--choose10);
}

.modalCreateIconBtnVoltar {
  display: block;
  stroke: var(--color02);
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--choose02);
}

.modalCreateHeader {
  margin: 0 24px 22px 24px;
}

.form {
  margin: 0 24px 0 24px;
}

.containerButtons {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  background-color: var(--choose06);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
}

.containerButtonsGradient {
  display: block;
  content: "";
  height: 64px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.10) 100%);
}

.containerButtonsSub {
  padding: 21px 0 22px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 7px;
  justify-content: center;
}

.containerButtonsBtn {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 18px 19px 15px 18px;
  border-radius: 24px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

@media screen and (min-width: 690px) {
  .modalCreate {
    padding: 59px 0 0 0;
  }

  .modalCreateHeader {
    margin: 0 56px 46px 56px;
  }

  .form {
    margin: 0 56px 0 56px;
  }

  .containerButtonsSub {
    padding: 31px 56px 31px 56px;
    justify-content: flex-end;
    gap: 8px;
  }
}

@media screen and (min-width: 900px) {
  .containerButtons {
    background-color: var(--choose20);
  }
}