.container {
  padding: 33px 0 0 0;
}

.containerLinkVoltar {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 23px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--choose02);
  margin: 0 24px 31px 24px;
}

.containerLinkVoltar:is(:hover, :focus) {
  color: var(--choose10);
}

.containerIconLink {
  display: block;
  stroke: var(--color02);
}

@media screen and (min-width: 690px) {
  .container {
    padding: 49px 40px 135px 40px;
  }

  .containerLinkVoltar {
    margin: 0 0 31px 0;
    width: 100px;
  }
}

@media screen and (min-width: 810px) {
  .container {
    max-width: 730px;
    padding: 49px 0 135px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 65px 0 54px 0;
  }
}