.container {
  margin: 32px 24px 105px 24px;
}

@media screen and (min-width: 690px) {
  .container {
    margin: 62px 48px 173px 48px;
  }
}

@media screen and (min-width: 900px) {
  .container{
    margin: 78px auto 173px auto;
    max-width: 760px;
    width: 100%;
  }
}