.containerControls,
.container {
  display: flex;
}

.container {
  background-color: var(--choose01);
  justify-content: space-between;
  padding: 0 24px 0 0;
}

.containerLogo {
  display: block;
  width: 72px;
  height: 72px;
}

.lineDiviser {
  display: block;
  flex: 0 0 1px;
  margin: 0 24px;
  border: none;
  height: 100%;
  background-color: var(--color13);
}

.switch {
  align-self: center;
}

.profile {
  display: block;
  border-radius: 32px;
  align-self: center;
}

@media screen and (min-width: 690px) {
  .containerLogo {
    width: 80px;
    height: 80px;
  }

  .lineDiviser {
    margin: 0 32px;
  }

  .container {
    padding: 0 32px 0 0;
  }
}

@media screen and (min-width: 900px) {
  .container {
    position: fixed;
    top: 0;
    height: 100%;
    flex-flow: column nowrap;
    padding: 0;
    border-radius: 0px 28px 28px 0px;
  }

  .containerControls {
    flex-flow: column nowrap;
    margin: 0 0 24px 0;
  }

  .containerLogo {
    display: block;
    width: 103px;
    height: 103px;
  }

  .lineDiviser {
    margin: 24px 0 24px 0;
  }

  .profile {
    width: 40px;
    height: 40px;
  }
}